<!DOCTYPE html>
<html ng-app="omdbApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular-route.min.js"></script>
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body ng-controller='HomeController'>
    <header>
      <h1>Angular OMDb API Search</h1>
      <h3>Enter a movie by title.</h3>
      <input type="text" name="title" ng-model='title'>
      <button type="button" name="search" ng-click="movieSearch()">Search</button>
    </header>

    <main>
      <div ng-view></div>
    </main>

    <script type="text/javascript" src="/dist/app.js"></script>
    <script type="text/javascript" src="/dist/filters.js"></script>
    <script type="text/javascript" src="/dist/controllers.js"></script>
  </body>
</html>
